[矢吹太朗『Webのしくみ』（サイエンス社, 2020）](https://github.com/taroyabuki/webbook)

下のアイコンをクリックすれば，この文書に掲載されているコードを，Google Colab上で実行できます．（Googleのアカウントが必要です．）

[![Open In Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github/taroyabuki/webbook/blob/master/chapters/10.4/sql.ipynb)

# 第10章 データベース

## 10.4 データベースのための言語

In [ ]:
# このセルをクリックして，Shift+Enterまたは左の▶ボタンを押して実行してください．
# このセルのコードは準備のためのものです．理解できなくてかまいません．
import pandas as pd
import sqlite3
!rm -f db.sqlite3
con = sqlite3.connect('db.sqlite3')
def 実行(sql): return pd.read_sql_query(sql, con)
商品の表 = pd.DataFrame({
    'ID': [1, 2, 3],
    '商品名': ['A', 'B', 'C'],
    '価格': [1280, 2980, 198],
    '在庫': [1, 0, 121]
})
商品の表.to_sql('商品の表', con, index=False)
商品の表

上の表で，在庫があるものを知りたいとしましょう．

手続き型言語（Python）で実行するなら，次のようになります．（もっとPythonらしいコードについて後で補足します．）

In [ ]:
結果 = []                                 # 結果が空の状態から始める．
x = 1                                     # xを1とする．
while True:                               # 以下をくり返す
  try: 商品 = 商品の表.iloc[x - 1]        #   表のx行目の商品を調べる．
  except IndexError: break                #   商品がなければプログラムを終わらせる．
  if 1 <= 商品['在庫']: 結果.append(商品) #   在庫が1以上なら結果に追加する．
  x += 1                                  #   xを1増やす．
結果                                      # 結果を表示する．

宣言型言語（SQL）で実行するなら，次のようになります．

自然言語|SQL
--|--
商品の表から，|`from 商品の表`
在庫が1以上のものの，|`where 1 <= 在庫`
すべてのデータを取り出す．|`select *`

並べ替えて，正しいSQL文にします．

```sql
select *
from 商品の表
where 1 <= 在庫
```

ここでは，次のように実行します．

In [ ]:
実行('''
select *
from 商品の表
where 1 <= 在庫
''')

練習：価格が2000円以上のものを検索してください．

In [ ]:
実行('''

''')

補足：在庫があるものを，Pythonらしく求めるなら次のようになります．

In [ ]:
[商品 for 商品 in 商品の表.values if 1 <= 商品[3]]

補足：実は，表形式のデータを扱う方法がPyhonで用意されているので，それを使って宣言的に書くこともできます．

In [ ]:
商品の表.query('1 <= 在庫')