[矢吹太朗『Webのしくみ』（サイエンス社, 2020）](https://github.com/taroyabuki/webbook)

下のアイコンをクリックすれば，この文書に掲載されているコードを，Google Colab上で実行できます．（Googleのアカウントが必要です．）

[![Open In Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github/taroyabuki/webbook/blob/master/chapters/10.4-SQL.ipynb)

# 第10章 データベース

## 10.4 データベースのための言語

In [1]:
# このセルをクリックして，Shift+Enterまたは左の▶ボタンを押して実行してください．
# 以下のコードは準備のためのものです．理解できなくてかまいません．
import pandas as pd
import sqlite3
!rm -f db.sqlite3
con = sqlite3.connect('db.sqlite3')
def 実行(sql): return pd.read_sql_query(sql, con)
商品の表 = pd.DataFrame({
    'ID': [1, 2, 3],
    '商品名': ['A', 'B', 'C'],
    '価格': [1280, 2980, 198],
    '在庫': [1, 0, 121]
})
商品の表.to_sql('商品の表', con, index=False)
商品の表

   ID 商品名    価格   在庫
0   1   A  1280    1
1   2   B  2980    0
2   3   C   198  121

上の表で，在庫があるもののIDを知りたいとしましょう．

手続き型言語（Python）で実行するなら，次のようになります．（Pythonらしいコードについて後で補足します．）

In [2]:
結果 = []                                       # 結果が空の状態から始める．
x = 1                                           # xを1とする．
while True:                                     # 以下をくり返す
  try: 商品 = 商品の表.iloc[x - 1]              #   表のx行目の商品を調べる．
  except IndexError: break                      #   商品がなければプログラムを終わらせる．
  if 1 <= 商品['在庫']: 結果.append(商品['ID']) #   在庫が1以上なら結果に追加する．
  x += 1                                        #   xを1増やす．
結果                                            # 結果を表示する．

[1, 3]

宣言型言語（SQL）で実行するなら，次のようになります．

```
商品の表から，       （from 商品の表）
在庫が1以上のものの，（where 1 <= 在庫）
IDを取り出す．       （select ID）
```

正しいSQL文になるように並べ替えてから実行します．

In [3]:
実行('''
select ID
from 商品の表
where 1 <= 在庫
''')

   ID
0   1
1   3

補足：Pythonらしく書くなら次のようになります．

In [4]:
[商品[0] for 商品 in 商品の表.values if 1 <= 商品[3]]

[1, 3]

補足：実は，表形式のデータを扱う方法がPyhonで用意されているので，それを使って宣言的に書くこともできます．

In [5]:
商品の表.query('1 <= 在庫')[['ID']]

   ID
0   1
2   3